<div class="" flex-offset="20"  flex="60" layout-sm="column">
	<md-card class="text-start">
		<md-card-content>
			<md-list-item><p>과정소개</p></md-menu></md-list-item><md-divider></md-divider>
			<md-list-item><p>학습목표</p></md-list-item><md-divider></md-divider>
			<md-list-item><p>학습내용</p></md-list-item><md-divider></md-divider>
			<md-list-item><p>학습대상</p></md-list-item><md-divider></md-divider>
			<md-list-item><p>학습방법</p></md-list-item><md-divider></md-divider>
			<md-list-item><p>평가방법</p></md-list-item><md-divider></md-divider>
			<br>
			<!--<md-divider class="margin-top-20"></md-divider>
			<h1 class="margin-top-50">Features</h1>
			<ul>
				<li class=" text-center" ng-repeat="item in vm.listFeatures">
					<p><ng-md-icon icon="check"></ng-md-icon> {{item.feature}}</p>
				</li>
			</ul>-->
		</md-card-content>
	</md-card>
	<!--<md-card class="text-center">
        <md-card-content>
            <h1>{{ vm.title }}</h1>
            <h3>{{ vm.version }}</h3>
            <p>This is a template for a simple home screen website. Use it as a starting point to create something more unique.</p>
            <br>
            <md-divider class="margin-top-20"></md-divider>
            <h1 class="margin-top-50">Features</h1>
            <ul>
                <li class=" text-center" ng-repeat="item in vm.listFeatures">
                    <p><ng-md-icon icon="check"></ng-md-icon> {{item.feature}}</p>
                </li>
            </ul>
        </md-card-content>
    </md-card>-->



</div>
