<!--<div class="" flex-offset="20"  flex="60" layout-sm="column">-->
	<!--<md-card class="text-start">-->
		<!--<md-card-content>-->
			<!--<md-list-item><p>과정소개</p></md-menu></md-list-item><md-divider></md-divider>-->
			<!--<md-list-item><p>학습목표</p></md-list-item><md-divider></md-divider>-->
			<!--<md-list-item><p>학습내용</p></md-list-item><md-divider></md-divider>-->
			<!--<md-list-item><p>학습대상</p></md-list-item><md-divider></md-divider>-->
			<!--<md-list-item><p>학습방법</p></md-list-item><md-divider></md-divider>-->
			<!--<md-list-item><p>평가방법</p></md-list-item>-->
		<!--</md-card-content>-->
	<!--</md-card>-->
<!--</div>-->
	<!--<md-card class="text-center">
        <md-card-content>
            <h1>{{ vm.title }}</h1>
            <h3>{{ vm.version }}</h3>
            <p>This is a template for a simple home screen website. Use it as a starting point to create something more unique.</p>
            <br>
            <md-divider class="margin-top-20"></md-divider>
            <h1 class="margin-top-50">Features</h1>
            <ul>
                <li class=" text-center" ng-repeat="item in vm.listFeatures">
                    <p><ng-md-icon icon="check"></ng-md-icon> {{item.feature}}</p>
                </li>
            </ul>
        </md-card-content>
    </md-card>-->
<!-----other professor------>
<br><br>
<div flex-offset="10" flex="70" class="other-profesors-info">
	<h1>Other Professor</h1><br>

	<md-divider></md-divider>
	<div layout="row" layout-wrap layout-sm="column">
		<div flex-offset="10" flex="15">
		</div>
		<div flex="70">
			<p>Taught by : 최재호<br>수강인원 : 50명 <br>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		</div>
	</div>
	<md-divider></md-divider>
</div>
<!----------info------------>

<br><br>
<div ng-repeat="item in vm.courseInfo">
	<div layout="row" layout-wrap layout-sm="column" class="info-table"  >
		<div flex-offset="20" flex="25" class="info-border">
			<p><b>모집기간</b></p>
		</div>
		<div flex="30" class="info-border-2nd" >
				<p> {{item.recruitmentPeriod }}</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25" class="info-border">
			<p><b>수강기간</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{item.durationOfTheCourse}}</p>
		</div>
	</div>

	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25" class="info-border">
			<p><b>강사</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{vm.professorName}}</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25" class="info-border">
			<p><b>강의시간</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{item.lectureTime}}</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25" class="info-border">
			<p><b>고용보험</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{ item.unemploymentInsurance}}</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25"class="info-border">
			<p><b>지원형태</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{ item.formOfSupport}}</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25"class="info-border">
			<p><b>환급금</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{ item.refund}}</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25" class="info-border">
			<p><b>위탁교육서 제출기한</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{ item.deadlineForConsignmentEducationDoc}}</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25" class="info-border">
			<p><b>학습정원</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{ item.numberOfStudent}}명</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25" class="info-border">
			<p><b>전체 학습 유닛수</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{ item.numberOfUnit}}개</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25" class="info-border">
			<p><b>교재명</b></p>
		</div>
		<div flex="30" class="info-border-2nd">
			<p>{{ item.bookName}}</p>
		</div>
	</div>
	<div layout="row" layout-wrap layout-sm="column" class="info-table">
		<div flex-offset="20" flex="25" class="info-border" id="info-border-last">
			<p><i class="fa fa-usd" aria-hidden="true"></i><b>수강신청 금액</b></p>
		</div>
		<div flex="30" class="info-border-2nd" id="info-border-2nd-last">
			<p>{{ item.price}}</p>
		</div>
	</div>
</div>
<br><br>


